.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10rem auto;
  width: 99%;
  padding: 3rem;
  border: 3px solid black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2); }
  .container h3 {
    margin: 2rem;
    font-size: 3rem; }
  .container input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
    margin-top: 2rem;
    font-size: 3rem;
    font-family: inherit;
    transition: width 0.3s linear;
    line-height: 1.8; }
  .container button {
    margin: 2rem;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.8rem;
    background-color: transparent;
    outline: none;
    border: 0.5px solid red;
    text-transform: uppercase; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 50%; } }
